.page-header {
    background-image: url("../images/header.jpg");
    background-size: 100%;
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
}
.page-header2 {
    background-image: url("../images/header2.png");
    background-size: 100%;
    color: aliceblue;
    text-align: center;
    font-weight: bolder;
}

.navbar .navbar-brand img {
    height: 50px;
}

.slogan {
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.navbar-brand h2 {
    float: left;
}

.navbar-brand img {
    float: left;
}

#size {
    width: 110px;
}

.img_height {
    height: 360px;
}

input {
    text-align: center;
}
.card-edit {
    height:100%;
    text-align: center;
}
.checkout-order {
    text-align: center;
}
form {
    text-align: center;
}

#love-pizza {
    background-image: url("../images/love.jpg");
    background-size: 100%;
}
#about-us {
    background-image: url("../images/best.jpg");
    background-size: 100%;
    text-align: center;
}
body {
    background-image: url("../images/back.jpeg");
    background-size: 100%;
}
.row {
    justify-content: center;
}